# {{ ansible_managed }}

# These values can be overridden by editing ~/.spamassassin/user_prefs.cf
# (see spamassassin(1) for details)

# These should be safe assumptions and allow for simple visual sifting
# without risking lost emails.

required_hits {{ required_hits }}
report_safe 0
rewrite_header Subject [SPAM]

# to reduce locking problems
bayes_learn_to_journal 1
# done in crontab instead to avoid locking problems
# see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=334829
bayes_auto_expire 0

ignore_received_spf_header 1

{% if with_pyzor|bool %}
use_pyzor 1
pyzor_path /usr/bin/pyzor
pyzor_options --homedir {{ pyzor_homedir }}
pyzor_timeout 10
{% endif %}

{% if with_phishtank|bool %}
loadplugin Mail::SpamAssassin::Plugin::Phishing
phishing_phishtank_feed /etc/mail/spamassassin/phishtank-feed.csv
body     URI_PHISHING      eval:check_phishing()
describe URI_PHISHING      Url match phishing in feed
score    URI_PHISHING      10
{% endif %}

